src/main/mule/assign-5-sys.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:crypto="http://www.mulesoft.org/schema/mule/crypto" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/crypto http://www.mulesoft.org/schema/mule/crypto/current/mule-crypto.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="ddf8e0f6-677d-4d61-8d1f-bf1d2eb788b2" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="123456" database="employee" />
	</db:config>
	<flow name="assign-5-sysFlow" doc:id="b7a7c8da-3ba5-47a4-8e04-13cca3bfdefe" >
		<db:select doc:id="7cbff854-2119-45c5-bfd9-4ac2d439be81" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from emp where empID= :empid]]></db:sql>
			<db:input-parameters ><![CDATA[#[empid : attributes.uriParams.emp]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b72d9fc4-ddfb-4ecf-a23a-489cae5a3fa5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="assign-5-sysFlow1" doc:id="a3784591-9967-4e64-b824-9403d06cbf04" >
		<ee:transform doc:name="Transform Message" doc:id="e1a410da-da17-4893-9a37-26e18034b438" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import fromBase64 from dw::core::Binaries
output application/octet-stream
---
fromBase64(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="73f174cf-79f6-43e7-ba44-ebc3fae0c6f5" message="encrypt #[payload]"/>
		<crypto:jce-decrypt-pbe doc:id="232e1e6b-1176-4d54-9393-dfb59bb36e96" password="mulesoft"/>
		<ee:transform doc:name="Transform Message" doc:id="337ac4a9-2b5a-4f07-9bf0-1f078867623c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
read(payload,"application/json")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<parallel-foreach doc:name="Parallel For Each" doc:id="9cffebd5-d4d4-4b24-83d8-6f7d9f693f0a">
			<db:insert doc:name="Insert" doc:id="2a5ca7a6-3030-4f58-a411-b545bf3608ff" config-ref="Database_Config">
				<db:sql ><![CDATA[insert into emp values(:empid,:firstname,:lastname,:designation,:salary)]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	empid: payload.empID,
	firstname: payload.empFirstName,
	lastname: payload.empLastName,
	designation: payload.empDesignation,
	salary: payload.empSalary
}]]]></db:input-parameters>
			</db:insert>
		</parallel-foreach>
		<ee:transform doc:name="Transform Message" doc:id="5bdce2cc-b547-4c9b-a358-eb51ae513251" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"inserted successfully"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
